@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


::-webkit-scrollbar {
    display: none;
}

body {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

header {
    height: 100px;
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
}

#headerlink {
    text-decoration: none;
    color: #111111;
    font-size: 18px;
    margin: 0px 0px 0px 20px;
    padding: 0px 0px 0px 10px 0px;
    border-bottom: 1px solid #111111;
}

#headerimage {
    height: 100px;
    margin: 0px;
    padding: 0px;
}

#headerbutton {
    height: 50px;
    width: 100px;
    margin: 0px 20px 0px 0px;
    padding: 0px;
    border: none;
    border-radius: 25px;
    background-color: #5865f2;
    color: #ffffff;
    font-size: 18px;
}
/* ........................................................................ */


.top-division {
    width: 100%;
    height: 80vh;
}

.top-division img {
    width: 100%;
    height: 80vh;
    object-fit: cover;
    position: absolute;
    top: 100px;
    left: 0px;
    animation-name: imagefade;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 8s;
}

@keyframes imagefade {
    0% {
        opacity: 1;
    }

    17% {
        opacity: 1;
    }

    25% {
        opacity: 0;
    }

    92% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.top-division img:nth-of-type(1) {
    animation-delay: 6s;
}

.top-division img:nth-of-type(2) {
    animation-delay: 4s;
}

.top-division img:nth-of-type(3) {
    animation-delay: 2s;
}

.top-division img:nth-of-type(4) {
    animation-delay: 0;
}

#central-division {
    padding: 30px 0px 30px 0px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #f3f3f3;
}

#product {
    height: 700px;
    width: 30%;
    margin: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* background-color: #222222; */
}

#product img {
    height: 70%;
    width: 90%;
    object-fit: cover;
}

#seprator {
    height: 20%;
    width: 90%;
    /* background-color: blue; */
}

#product h6 {
    width: 100%;
    margin: 0px 0px 10px 0px;
    padding: 0px;
    font-size: 25px;
    /* background-color: red; */
}

#product p {
    width: 100%;
    margin: 0px;
    padding: 0px;
    font-size: 20px;
    /* background-color: red; */
}

#linktree {
    display: flex;
    width: 100%;
    border-top: 1px solid rgb(202, 202, 202);
}

#ben {
    width: 20%;
    padding: 50px 0px 50px 5%;
    display: flex;
    flex-direction: column;
}

#linkben {
    text-decoration: none;
    color: rgb(20, 20, 20);
    padding: 0px;
    margin: 5px 0px 0px 0px;
}

#linkben:hover {
    color: rgb(255, 123, 0);
    transition: ease-in-out 0.3s;
}

/* ........................................................... */

#mailbox {
    width: 100%;
    height: 200px;
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
}

#leftbox {
    width: 45%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

#headingsim {
    margin: 0px 0px 10px 0px;
    padding: 0px;
    font-weight: 100;
    font-size: 30px;
}

#paragraphsim {
    margin: 0px;
    padding: 0px;
    color: #222222;
}

#rightbox {
    height: 100%;
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: end;
}

#inputsim {
    height: 60px;
    width: 70%;
    padding: 0px 5% 0px 5%;
    margin: 0px;
    border: 1px solid black;
    background-color: transparent;
    font-family: 'Space Mono', monospace;
    letter-spacing: 1px;
}

footer {
    width: 100%;
    height: 100px;
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #f0f0f0;
}

footer p {
    color: #222222;
    margin: 0px;
    padding: 0px;
    font-size: 15px;
}

footer p a {
    color: #444444;
    margin: 1px;
    padding: 0px;
    font-size: 15px;
}